# Ignore the private hosting configuration.
host-config.yml

# Ignore the private domain list.
ssldomains

# Ignore the private bot token used with GitHub's API.
bot-token

# Ignore the SSL Certification Expiration Checker file.
ssl-cert-check

# Ignore daily backup directories.
*-files/

# Ignore update collection directories.
*-updates/
